{
  "plugins": ["transform-flow-strip-types"],
  "env": {
    "latest": {
      "presets": ["stage-2"]
    },
    "current": {
      "presets": ["es2016","stage-2"]
    },
    "current-dist": {
      "presets": ["babili"]
    },
    "es5": {
      "presets": ["es2015","stage-2"],
      "plugins": ["transform-runtime"]
    },
    "test": {
      "presets": ["es2015","stage-2"],
      "plugins": ["rewire"]
    }
  }
}
