language: node_js
node_js:
  - 4
  - 6
  - 8
before_install:
  - npm install -g npm
  - npm install -g codecov
script:
  - npm run test:coverage
  - codecov
after_success:
  - bash <(curl -s https://codecov.io/bash)
